<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weixin.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name="com.weixin.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.weixin.activity.WeixinActivity"/>
        <activity android:name="com.weixin.activity.AddressActivity"/>
        <activity android:name="com.weixin.activity.FriendsActivity"/>
        <activity android:name="com.weixin.activity.SettingsActivity"/>
        
        <activity android:name="com.weixin.activity.ChatActivity" android:theme="@style/ExitLoginStyle"/>
        
        <activity android:name="com.weixin.activity.ShakeActivity"/>
        
        <activity android:name="com.weixin.activity.ExitLoginActivity" android:theme="@style/ExitLoginStyle"/>
    </application>

</manifest>